{% extends 'base.html' %}
{% load static %}
{% block title%} Product {% endblock %}
{% block content%}
<div class="container py-5">
    <div class="row mt-5">
        <div class="col-10 mx-auto col-md-6 my-3">
            <img src="{{ product.image.url }}" style="height:400px; width:400px;">
        </div>
        <div class="col-10 mx-auto col-md-6 my-3">
            <div>
                <h1 class="product_title">{{ product.name }}</h1>
               <h5 class="text-info font-italic mb-3">
                    <span class="mr-1">₹</span>{{ product.price }}
                  </h5>
                <p class="product_description"><strong>Product Description</strong></p>
                <p class="text-justify product_text">{{ product.description }}</p>
                {% if  product.stock <= 0 %}
                <p class="text-justify product_text"><b>out of stock</b></p>
                {% else %}
                <a href="{% url 'add_cart' product.id %}" style="text-decoration:none;">
                    <button type="button" class="btn btn-lg btn-block bg-dark text-white" >
                        Add to Cart
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}